name: Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.18'
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go mod download && go get github.com/cryptape/ckb-go-integration-test/sdk && cd sdk/ && go test ./... -short